.content {
	border-left: 1px;
	border-right: 1px;
	border-left-style: solid;
	border-right-style: solid;
	border-color: #ddd;
	height: 100%;
}
.canvas{
	height:100%;
}
html {
	height:100%;
}
.banner{

	border: 1px;
	border-style: solid;
	border-color: #ddd;
	height: 30%;
	width: 100%;
}
.bannerright {
	height:100%;
}
.bannerleft {
	height:100%;
}
.area2{

	border: 1px;
	border-style: solid;
	border-color: #ddd;
	height: 70%;
	width: 100%;
}
#imglogo {
	height:100%;
}